<div id="search" ng-controller="searchController as search">

    <section>   
        <div class="container">
            
            <div class="row">
                <div class="card white" >
                    <div class="card-content black-text">
                        <span class="card-title ">Recherche</span>
                        
                        <form  action="#" ng-submit="search.onSearch(search)">
                            
                            <div class="row">
                                <div class="input-field col s12 m4">
                                    <input id="search" type="search" placeholder="Entrez le nom d'un artiste ou d'un album" ng-model="search.text"/>
                                    <label for="search"></label>
                                </div>
                            


                         
                                <div class="input-field col s12 m4">
                                    <select class="browser-default" ng-change="search.change(search.filter)" ng-model="search.filter">
                                        <option value="" disabled>Filtrer par</option>
                                        <option value="&order=ARTIST_ASC">Artiste</option>
                                        <option value="&order=ALBUM_ASC">Album</option>
                                        <option value="&order=TRACK_ASC">Musique</option>
                                        <option value="&order=RATING_ASC">Les plus populaire</option>
                                        <option value="&order=RANKING">Les mieux notés</option>
                                        <option value="0">Aucun</option>
                                    </select>

                                </div>
                           

                           
                                <div class="input-field col s12 m4">
                                    <button class="btn waves-effect waves-light" type="submit">Rechercher <i class="material-icons right">search</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ng-hide="hideResult1">
        <div class="row">
            <div class="container">
                
                <div class="col s12 m12">
                    <h2>Resultats de recherche</h2>

                    <div class="row">
                        <div class="col s12 m4" ng-repeat="data in data.data">
                            <div class="card">
                                <div class="card-content">

                                    <div class="card-header">
                                        <img ng-src="{{data.album.cover_medium}}">
                                    </div>
                                    <div class="card-contender">
                                        <div class="preview">
                                            <p class="title-preview">{{data.title}}</p>
                                        </div>
                                        <div class="global_info">
                                            <p>{{data.album.title}} / {{data.artist.name}}</p>
                                            <p>{{data.duration}}</p>
                                        </div>                   
                                    </div>
                                    
                                    
                                </div>

                                <div class="card-action">
                                    <a ui-sref="album({ albumID: data.album.id })" class="btn waves-effect waves-light">Voir L'album <i class="material-icons right">search</i></a>
                                
                                    <a ui-sref="artist({ artistID: data.artist.id })" class="btn waves-effect waves-light">Voir L'artiste <i class="material-icons right">search</i></a>
                                    <a ui-sref="track({ albumID: data.album.id })" class="btn waves-effect waves-light">Ecouter un extrait <i class="material-icons right">search</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </section>

    <section ng-hide="hideResult2">
            <div class="row">
                    <div class="container">
                        
                        <div class="col s12 m12">
                            <h2>Resultats de recherche</h2>
        
                            <div class="row">
                                <div class="col s12 m4" ng-repeat="data in data.data">
                                    <div class="card">
                                        <div class="card-content">
        
                                            <div class="card-header">
                                                <img ng-src="{{data.album.cover_medium}}">
                                            </div>
                                            <div class="card-contender">
                                                <div class="preview">
                                                    <p class="title-preview">{{data.title}}</p>
                                                </div>
                                                <div class="global_info">
                                                    <p>{{data.album.title}} / {{data.artist.name}}</p>
                                                    <p>{{duration}}</p>
                                                </div>                   
                                            </div>
                                            
                                            
                                        </div>
        
                                        <div class="card-action">
                                            <a ui-sref="album({ albumID: data.album.id })" class="btn waves-effect waves-light">Voir L'album <i class="material-icons right">search</i></a>
                                        
                                            <a ui-sref="artist({ artistID: data.artist.id })" class="btn waves-effect waves-light">Voir L'artiste <i class="material-icons right">search</i></a>
                                            <a ui-sref="track({ trackID: data.id })" class="btn waves-effect waves-light">Ecouter un extrait <i class="material-icons right">search</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
    </section>

    
</div>