<section ng-controller="trackController as search"> <div class="row">
    <div class="container">
  
        <div class="col s12 m12" >
            <div class="card white" >
                <div class="card-content black-text">
                    <span class="card-title ">Track</span>
                    <p>{{preview}} </p>
                    <audio controls="controls">
                        <source ng-src="https://cdns-preview-c.dzcdn.net/stream/c-c08026a74b2dcff3256fc3153f8d7400-3.mp3" type="audio/mp3" />
                    </audio>
                    
                    
  
                    <div id="track">
                        
                    </div>   
                </div>
                
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>

        </div>
    </div>
</section>